<?xml version="1.0"?>

<configuration>
  <connectionStrings>
    <add name="AWPConnectionString" connectionString="Data Source=.;Initial Catalog=AWP;Persist Security Info=True;User ID=sa;Password=sqladmin" providerName="System.Data.SqlClient" />
    
  </connectionStrings>
	<system.web>
    <globalization culture="en-GB" uiCulture="en-GB" />

    <compilation debug="true" targetFramework="4.0"/>
    <pages theme="Theme1" maintainScrollPositionOnPostBack="true" />
	</system.web>
</configuration>
